name: Deploy a GitHub Pages

on:
  push:
    branches:
      - main

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Configurar GitHub Pages
        uses: actions/configure-pages@v3

      - name: Subir artefactos (archivos del sitio)
        uses: actions/upload-pages-artifact@v2
        with:
          path: . # Aquí la carpeta raíz de tu sitio

      - name: Desplegar en GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v2
